{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <img style="height:200px; " src="{{ profile.user.photo.url }}" alt="Photo">
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <h2 class="tit-3">مرحبــاً  {{ request.user.username }}</h2>
            </div>
            <hr>
            <div class="row">
                <div style="font-size:24px; margin-left: 30px">
                    <pre>اسم المستخدم: {{ profile.user.username }}</pre>
                    <pre>الاسم الأول: {{ profile.user.first_name }}</pre>
                    <pre>الاسم الثاني: {{ profile.user.last_name }}</pre>
                    <pre>البريد الالكتروني: {{ profile.user.emial }}</pre>
                    <pre> المسؤولية: {{ profile.role.name }}</pre>
                    <pre> رقم الهاتف: {{ profile.user.phone_number }}</pre>
                    <pre>موقع العمل : {{ profile.user.location }}</pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}