{% extends 'base/base.html' %}
{% load static i18n %}
{% block title %}{% translate "Edit Student Info" %}{% endblock title %}
{% block cr %}{% translate "Edit Student Info" %}{% endblock cr %}
{% block content %}
  <div class="card">
    <div class="card-header">استمارة تعديل معلومات الطالب</div>
    <div class="card-body">
      <form class="" action="{% url 'student-edit' student_form.emis_id %}" method="post" enctype="multipart/form-data" id="StudentRegistrationForm" load-schools-entry={% url 'load-schools-entry' %}>
        <div class="card">
          <div class="card-header">المعلومات الشخصية</div>
          <div class="card-body">
            {% csrf_token %}
            {{ student_form.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">معلومات السكن</div>
          <div class="card-body">
            {% csrf_token %}
            {{ address_form.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header"> معلومات المدرسة</div>
          <div class="card-body">
            {% csrf_token %}
            {{ school_form.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">الوثايق والمستندات</div>
          <div class="card-body">
            {% csrf_token %}
            {{ documents_form.as_p }}
          </div>
        </div>
        <div class="card">
          <div class="card-header">معلومات ولي الأمر</div>
          <div class="card-body">
            {% csrf_token %}
            {{ parent_form.as_p }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="{% static 'src/js/registration.js' %}"></script>
      <script src="{% static 'src/js/address.js' %}"></script>
    </div>
  </div>
{% endblock %}
