{% extends 'base/base.html' %}
{% load static i18n %}
{% block title %}الملف الشخصي{% endblock %}
{% block cr %}{% translate "students Profile" %}{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-9">
          <h2 class="tit-3">معلومات الطالب</h2>
          <hr>
          <div style="font-size:24px; margin-left: 30px">
            <pre>الطالب : {{ student.name }}</pre>
            <pre>رقم الطالب : {{ student.emis_id }}</pre>
            <pre>الصف : {{ student.grade.name }}</pre>
          </div>
        </div>
        <div class="col-3">
          <img style="max-height:100%; max-width:100%" src="{{ student.photo.url }}" alt="Photo">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="personal_information">
        <div class="row">
          <h2 class="tit-3">المعلومات الشخصية </h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>فصيلة الدم : {{ student.blood_group }}</pre>
            <pre>تاريخ الميلاد : {{ student.date_of_birth }}</pre>
            <pre>الجنس : {{ student.gender }}</pre>
            <pre>الجمسية : </pre>
          </div>
        </div>
      </div>

      <div class="address_information">
        <div class="row">
          <h2 class="tit-3">ملعومات العنوان </h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>المحافظة:{{ student.address.governorate.name }}</pre>
            <pre>المديرية: {{ student.address.district.name }}</pre>
            <pre>اسم المدرسة: {{ student.school.name }}</pre>
          </div>
        </div>
      </div>

      <div class="address_information">
        <div class="row">
          <h2 class="tit-3">المستندات والوثائق </h2>
        </div>
        <hr>
        <div class="row">
          <div style="font-size:24px; margin-left: 30px">
            <pre>شهادة الميلاد :  <a class="btn btn-primary" href="{{ student.documents.birth_certificate }}" target="new-window">{% translate "download" %}</a></pre>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
